Body{
    margin: 0;
    padding: 0;
    background-color: rgb(32, 197, 76);
}
*{
    font-family: 'Arial', sans-serif;
}
    
header{
    display: flex;
    align-items: center;
    background-color: rgb(222, 103, 166);
    justify-content: space-between;
}
header h1{
    margin-left: 20px;
    color: cadetblue;
    text-shadow: 5px 5px 10px lightblue;
    transform: uppercase;
}
header nav{
    display: flex;
    gap: 20px;
    margin-right: 20px;
    text-transform: uppercase;
}
header nav a{
    text-decoration: none;
    color: rgb(189, 215, 19);
    font-weight: bold;

}
header nav a:hover{
    color: rgb(19, 215, 19);
    text-shadow: 5px 5px 10px lightblue;
    border: 1px solid rgb(215, 19, 199);
    border-radius: 20px;
}
.Cover{
    width: 100%;
    height: 300px;
    background-image: url("cover2.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(240, 255, 244);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.card-1{
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 05px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightblue;

}
.card-1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.card-1 p{
    color: rgb(19, 215, 19);
    text-shadow: 5px 5px 10px lightblue;
    font-weight: bold;
}
.card-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 05px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightblue;

}
.card-2 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    align-items: center;
    float: right;
}
.card-2 p{
    color: rgb(19, 215, 19);
    text-shadow: 5px 5px 10px lightblue;
    font-weight: bold;
    text-align: center;
}
.card-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 05px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightblue;
}
.card-3 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    
}   
.card-3 p{
    color: rgb(19, 215, 19);
    text-shadow: 5px 5px 10px lightblue;
    font-weight: bold;
    text-align: center;
}
.card-1:hover, .card-2:hover, .card-3:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    background-color: antiquewhite;
}
.card-1:hover img, .card-2:hover img, .card-3:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    float: initial;
}
.card-1:hover p, .card-2:hover p, .card-3:hover p{
    color: rgb(215, 19, 19);
    text-shadow: 5px 5px 10px lightblue;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgb(215, 19, 19);
    border-radius: 20px;
}